[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "nonparametric.bayes"]
	path = nonparametric.bayes
	url = https://github.com/cran/nonparametric.bayes
